$menu-links-color : #948d8d;
$menu-border-color : #000;
$sublinks-color : #948d8d;
$background-menu-color : #FFF;

$text-in-content-color : #FFF;
$button-color : #009933;

$color-of-links : #000;

$url-background-image : '../img/sky.jpg';